.pageContainer {
  margin: 0 auto;
  max-width: 96rem;
}

.title {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--color-white);
  font-weight: var(--font-weight-semi-bold);
}

.imageWrapper {
  width: 100%;
  margin-bottom: 5rem;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subTitle {
  color: var(--color-white);
}

.socialWrapper {
  display: flex;
}

.socialLink:not(:first-of-type) {
  margin-left: 2rem;
}

.descriptionWrapper {
  margin: 3rem 0;
  text-align: justify;
  color: var(--color-light-grey);
  font-weight: var(--font-weight-normal);
}

.technologiesGridWrapper {
  display: grid;
  grid-gap: 2rem;
  margin-top: 3rem;
  grid-template-columns: repeat(2, 3rem auto 1fr);
  color: var(--color-white);
  font-size: 1.5rem;
}

.technologyGridItem {
  display: flex;
  align-items: center;
}

.progressBarWrapper {
  width: 100%;
  background-color: var(--color-grey);
}

.progressBar {
  width: 100%;
  height: 0.5rem;
  background-color: var(--color-white);
}

@media only screen and (max-width: 767px) {
  .technologiesGridWrapper {
    grid-template-columns: 3rem auto 1fr;
  }
}
