.pageContainer {
  margin: 0 auto;
  max-width: 150rem;
}

.title {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
}

@media only screen and (max-width: 767px) {
  .mapContainer {
    aspect-ratio: 4 / 3;
  }
}
